.ui-header .ui-title{
    margin: 0;
}
.ui-page-theme-a .ui-btn.ui-btn-active{
    color: transparent;
}
.ui-btn{
    border: 0;
}
.text-center{
    text-align: center;
}

.record{
    background: #E7464B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#reportdesc{
    height: 300px !important;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

/* stack all grids below 40em (640px) */
@media all and (max-width: 65em) {
    .parameters .ui-block-a{
        width: 75%;
        float: left;
    }
    .parameters .ui-block-b{
        width: 25%;
        float: left;
    }
    .parameters{
        clear: both;
        height: 50px;
    }
}